@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: rgba(130, 130, 130, 0.1);
}
.dark,
[data-theme='dark'] {
  --main-color: hsl(0, 0%, 13%);
  --foreground-color: hsl(0, 0%, 89%);
}

.light,
[data-theme='light'] {
  --main-color: hsl(0, 0%, 89%);
  --foreground-color: hsl(0, 0%, 13%);
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: initial;
  width: 100%;
  height: 100%;
}

::selection {
  background: var(--foreground-color);
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--foreground-color);
  border-radius: 50px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--foreground-color);
  z-index: 2;
}
