@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: rgb(139, 119, 137, 0.1);
}
.dark,
[data-theme='dark'] {
  --main-color: hsl(307, 10%, 17%);
  --foreground-color: hsl(300, 11%, 95%);
}

.light,
[data-theme='light'] {
  --main-color: hsl(300, 11%, 95%);
  --foreground-color: hsl(307, 10%, 17%);
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #f8f7f8;
  --gradient-color-2: #f3f0f3;
  --gradient-color-3: #d5ccd5;
  --gradient-color-4: #a897a7;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow: initial; */
  width: 100%;
  height: 100%;
}

::selection {
  background: #8b7789;
  color: #f3f0f3;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #8b7789;
  border-radius: 50px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--foreground-color);
  z-index: 10;
}
